.card__inner{
    background-color: brown;
    width: 30vh;
  }
  .row{
    padding-left: 10VH;
    padding-right: 10vh;
    margin-top: 10vh;
  }
  .text{
    text-align: center;
    margin-top: 10vh;
  }
  .text3{
    padding-bottom: 1%;
  }
  .text3:hover{
    color: red;
  }
  .text1{
    padding-left: 8%;
    padding-bottom: 1%;
  }
  .text1:hover{
    color: rgb(244, 244, 31)
  }
  .text2{
    padding-left: 8%;
    padding-bottom: 1%;
  }
  .text2:hover{
    color: rgb(42, 165, 83);
  }
  .card__name{
    padding-top: 5vh;
  }
  .card1{
    background-color: rgb(216, 74, 74);
    color: aliceblue;
    width: 50vh;
    height: 60vh; 
    text-align: center;
    justify-content: center;
  }
  .card1:hover{
    background-position: right bottom;
    background-color: red;
  }
  .card2{
    background-color: rgb(228, 228, 91);
    color: aliceblue;
    text-align: center;
    width: 50vh;
    height: 60vh; 
    }
    .card2:hover{
      background-position: right bottom;
      background-color: rgb(232, 232, 16);
    }
  .card3{
    background-color: rgb(73, 241, 73);
    color: rgb(171, 166, 166);
    text-align: center;
    width: 50vh;
    height: 60vh; 
  }
  .card3:hover{
    background-position: right bottom;
    background-color: green;
  }
  